<nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand text-white" href="#">To do list</a>
</nav>


<div class="container-fluid">


<div class="row mt-3">
<div class="col-md-12">

<form id="createtodo">
<div class="input-group mb-3">
  <input name="todo" type="text" class="form-control" autocomplete="off" placeholder="new task" aria-label="new task" aria-describedby="new task">
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="submit"><i class="fas fa-save pr-2"></i>Add</button>
  </div>
</div>
</form>

</div>
</div>

<div class="row">
<div class="col-md-12">
{{!-- <h3 class="text-center">To do list</h3> --}}
<ul>
{{#each todos}}
<li class="list-group-item list-group-item-primary">{{this.todo}}
    <i data-todoid="{{this.id}}" class="deltodo float-right fas fa-trash-alt pt-1"></i>
</li>
{{/each}}
</ul>
</div>
</div>
</div>
<script>
    $("#createtodo").on("submit", function(event) {
        event.preventDefault();
        var newTodo = {
            todo: $("#createtodo [name=todo]").val().trim()
        }

        $.ajax("api/todos", {
            type: "POST",
            data: newTodo
        }).then(function() {
            location.reload();
        });
    });

    $(".deltodo").on("click", function(event) {
        var id = $(this).data("todoid");

        $.ajax("api/todos" + id, {
            type: "DELETE"
        }).then(function() {
            location.reload();
        })

    })


</script>
